* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : "Quicksand", sans-serif;
}
html {
    font-size : 62.5%;
}

body {
    background-color: #12121f;
}

.container {
    width            : 100%;
    height           : 100vh;

    color            : #eee;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    flex-direction: column;
    background-color: #12121f; /* ou le même que .calendar si tu préfères */
}
.calendar {
    width            : 45rem;
    height           : 52rem;
    background-color : #222227;
    box-shadow       : 0 0.5rem 3rem #00000066;
}
.month {
    width            : 100%;
    height           : 12rem;
    background-color : #167e56;
    display          : flex;
    justify-content  : space-between;
    align-items      : center;
    padding          : 0 2rem;
    text-align       : center;
    text-shadow      : 0 0.3rem 0.5rem #00000080;
}
.month i {
    font-size : 2.5rem;
    cursor    : pointer;
}
.month h1 {
    font-size      : 3rem;
    font-weight    : 400;
    text-transform : uppercase;
    letter-spacing : 0.2rem;
    margin-bottom  : 1rem;
}
.month p {
    font-size : 1.6rem;
}
.weekdays {
    width       : 100%;
    height      : 5rem;
    padding     : 0 0.4rem;
    display     : flex;
    align-items : center;
}
.weekdays div {
    font-size       : 1.5rem;
    font-weight     : 400;
    letter-spacing  : 0.1rem;
    width           : calc(44.2rem / 7);
    display         : flex;
    justify-content : center;
    align-items     : center;
    text-shadow : 0 0.3rem 0.5rem #00000080;
}
.days {
    width     : 100%;
    display   : grid;
    grid-template-columns: repeat(7, 1fr) ;
    padding   : 0.2rem;
}

.today {
    background-color : #167e56;
}
/* --- --- ---
.prev-date,
.next-date {
  opacity : 0.5;
  }
--- --- --- */

.day {
    background: #167e56;
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.grid-square {
    width: 100%;
    aspect-ratio: 1 / 1; /* assure un carré */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
}

.box {
    background-color: #666;
    border-radius: 0.3rem;
    position: relative;

}

.montherBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
    max-width: 40px; /* tu peux ajuster */
    margin: auto;
}


.childBox {
    background-color: #666;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 0.3rem;
    transition: background-color 0.2s, border-color 0.2s;
}

.legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.legend li span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.8rem;
    border-radius: 3px;
}

/* Availability colors */
.available {
    background-color: #6aaa64; /* Green */
}

.limited {
    background-color: #f5e271; /* Light Yellow */
}

.last {
    background-color: #f28b48; /* Orange */
}

.full {
    background-color: #e74c3c; /* Red */
}

/* Arrival / Departure */
.arrival,
.departure {
    color: #000;
    background-color: #bdd7f2;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
    font-family: sans-serif;
    border: 1px solid #8db3dd;
    text-transform: uppercase;
}

.calendar-legend {
    padding: 1rem 2rem;
    color: #eee;
    font-size: 1.4rem;

}

.calendar-legend h3.subtitle {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    text-decoration: underline;
}

.calendar-legend .legend {
    margin-bottom: 1.5rem;
}










